.nav-link:hover {
    background-color: #ffffff;
    border-radius: 20%;
    border-color: #ffffff;
    border-style: hidden;
    animation-delay: 3s;
    transition: background-color 0.3s ease, transform 0.3s ease, border-radius 0.3s ease;
    transition-delay: 0s;
    transform: scale(1.1);
             
}
li {
    list-style: none;   
}
h2{
    color: blue;
}
strong {
    color: blue;
}
.fa-location-dot {
    position: absolute;
    left: -2%;
    top:9%;
}
.fa-ruler {
    position: absolute;
    left:-2%;
    top:32%;
}
.fa-file-prescription{
    position: absolute;
    left: -1.8%;
    top:52%;
}
.fa-hand-holding-dollar{
    position: absolute;
    left: -2%;
    top: 70%;
}
#logo {
    height: 60px; /* Ajusta la altura del logo */
    width: auto; /* Mantén las proporciones */
    border-radius: 50%; /* Hace la imagen circular (opcional) */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para resaltar el logo */
    mix-blend-mode: multiply; /* Mezcla los colores */
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Espaciado entre el logo y el texto */
}

header h1 {
    font-size: 1.5rem; /* Ajusta el tamaño del título */
}